openapi: 3.1.0
info:
  title: Listings API
  version: 2026-08-27
  description: "REST API for managing business locations: sync listings across
    Google, Facebook, Bing and other publishers, respond to reviews, publish
    posts, and pull local search analytics. Authenticate with an API key from
    the developer dashboard."
  contact:
    name: Listings API support
    email: support@listingsapi.com
    url: https://www.listingsapi.com/contact
  termsOfService: https://www.listingsapi.com/terms
  license:
    name: Proprietary (Listings API Terms of Service)
    url: https://www.listingsapi.com/terms
  x-logo:
    url: https://www.listingsapi.com/favicon.svg
externalDocs:
  description: Developer documentation
  url: https://docs.listingsapi.com
servers:
  - url: https://listingsapi.com
    description: Production
security:
  - apiKey: []
  - rapidApiKey: []
    rapidApiHost: []
tags:
  - name: Locations
    description: Create, update, archive, and inspect business locations.
  - name: Listings
    description: Premium and additional directory listings, duplicates, and AI evaluation.
  - name: Connected Accounts
    description: Bulk Google / Facebook / Yelp / TripAdvisor account connection flows.
  - name: Reviews
    description: Reviews and review-response endpoints, including analytics.
  - name: Posts
    description: Create and manage Google Business Profile posts — announcements,
      events, and offers — across locations.
  - name: Analytics
    description: Per-publisher insights (Google / Facebook / Bing) and indexing rate.
  - name: Supporting APIs
    description: Supporting reference data — countries, sub-categories, and
      publisher site categories — plus the publisher sites included in your
      plan.
paths:
  /api/v4/countries:
    get:
      operationId: supportedCountries
      summary: List of supported countries.
      tags:
        - Supporting APIs
      parameters: []
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CountryType"
              example:
                data:
                  supportedCountries:
                    - databaseId: 13
                      hasCity: true
                      id: Q291bnRyeToxMw==
                      iso: AU
                      name: Australia
                      states:
                        - countryId: 13
                          id: "139"
                          iso: VIC
                          name: Victoria
                        - countryId: 13
                          id: "142"
                          iso: NSW
                          name: New South Wales
                        - countryId: 13
                          id: "141"
                          iso: QLD
                          name: Queensland
                    - databaseId: 17
                      hasCity: true
                      id: Q291bnRyeToxNw==
                      iso: BE
                      name: Belgium
                      states: []
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: Returns every country Listings API supports along with its
        states/provinces and the ISO codes used when creating or updating
        locations.
  /api/v4/sub-categories:
    get:
      operationId: subcategories
      summary: List of sub-categories.
      tags:
        - Supporting APIs
      parameters: []
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SubCategoryType"
              example:
                data:
                  subcategories:
                    - databaseId: 639
                      id: U3ViQ2F0ZWdvcnk6NjM5
                      key: 3d-printing
                      name: 3D Printing
                      primary: true
                    - databaseId: 4589
                      id: U3ViQ2F0ZWdvcnk6NDU4OQ==
                      key: 3d-printing-service
                      name: 3D printing service
                      primary: true
                    - databaseId: 3268
                      id: U3ViQ2F0ZWdvcnk6MzI2OA==
                      key: aadhaar-center
                      name: Aadhaar center
                      primary: true
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: Returns the full catalog of subcategories used to classify
        locations when creating or updating them.
  /api/v4/locations-by-store-codes:
    get:
      operationId: getLocationsByStoreCodes
      summary: Get locations by the Store Codes.
      tags:
        - Locations
      parameters:
        - name: storeCodes
          in: query
          required: true
          schema:
            type: string
            description: JSON-encoded filter object
          description: JSON-encoded array of store code strings, e.g.
            `["ACME01","jio678"]`. URL-encode the value.
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/LocationSummaryType"
              example:
                data:
                  getLocationsByStoreCodes:
                    - id: TG9jYXRpb246MTgwMDI4OQ==
                      databaseId: 1800289
                      accountId: 62670
                      storeId: ACME01
                      name: Jenny Home
                      archived: false
                      street: 600 Congress Ave, Suite 200
                      city: Austin
                      stateIso: TX
                      postalCode: "78701"
                      countryIso: US
                      phone: "5125550142"
                      categoryId: 15
                      subCategoryId: 1432
                      subCategoryName: Restaurants
                      package: PREMIUM
                      planId: 3797
                      planName: Launch
                      placeActionLinks:
                        - placeActionType: FOOD_ORDERING
                          uri: https://order.example.com
                          isPreferred: true
                          name: locations/1944.../placeActionLinks/54ada85bc246058a
                          submissionStatus: success
                      discoveredPlaceActionLinks: []
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: Returns full location details for one or more locations identified
        by their store codes.
  /api/v4/locations:
    get:
      operationId: allLocations
      summary: All locations that belong to an account.
      tags:
        - Locations
      parameters:
        - name: first
          in: query
          required: false
          schema:
            type: integer
            format: int32
          description: Number of records to return, counting forward from the start of the
            result set.
        - name: after
          in: query
          required: false
          schema:
            type: string
          description: Cursor to page forward from. Pass `pageInfo.endCursor`, or
            equivalently the `cursor` of the last edge in the previous page.
            Stop paging when `pageInfo.hasNextPage` is false, or when a page
            returns an empty `edges` array.
        - name: last
          in: query
          required: false
          schema:
            type: integer
            format: int32
          description: Number of records to return, counting backward from the end of the
            result set.
        - name: before
          in: query
          required: false
          schema:
            type: string
          description: Cursor to page backward from, used with `last`. Pass the `cursor`
            of the first edge of the page you are moving back from — the
            gateway's shared `PageInfo` type exposes no `startCursor` field.
        - name: filter
          in: query
          required: false
          schema:
            type: string
            description: JSON-encoded filter object
          description: JSON-encoded filter object to narrow the result set (e.g. by
            approval status or sync state).
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                required:
                  - edges
                  - pageInfo
                properties:
                  edges:
                    type: array
                    items:
                      type: object
                      required:
                        - node
                        - cursor
                      properties:
                        node:
                          $ref: "#/components/schemas/LocationSummaryConnectionType"
                        cursor:
                          type: string
                  pageInfo:
                    type: object
                    required:
                      - hasNextPage
                      - hasPreviousPage
                    properties:
                      hasNextPage:
                        type: boolean
                      hasPreviousPage:
                        type: boolean
                      endCursor:
                        type:
                          - string
                          - "null"
                      total:
                        type:
                          - integer
                          - "null"
                  totalCount:
                    type: integer
              example:
                data:
                  allLocations:
                    edges:
                      - cursor: TG9jYXRpb246MTgwMDI4OQ==
                        node:
                          id: TG9jYXRpb246MTgwMDI4OQ==
                          databaseId: 1800289
                          accountId: 62670
                          accountName: owner@brightsmile-dental.com
                          name: Jenny Home
                          approved: APPROVED
                          archived: false
                          archivalScheduledAt: null
                          archivedAt: null
                          street: 600 Congress Ave, Suite 200
                          city: Austin
                          stateIso: TX
                          stateName: Texas
                          postalCode: "78701"
                          countryIso: US
                          countryCode: "1"
                          latitude: "30.2711286"
                          longitude: "-97.7436995"
                          phone: "5125550142"
                          additionalPhones: []
                          bizUrl: null
                          hideAddress: false
                          storeId: null
                          categoryId: 15
                          subCategoryId: 1432
                          subCategoryName: Restaurants
                          additionalCategoryIds: []
                          additionalCategoryNames: []
                          description: This is a standalone duplex house. A comfortable, private residence
                            located in the Bouldin Creek neighborhood of Austin,
                            offering spacious duplex living with easy access to
                            the surrounding South Congress area and downtown
                            Austin.
                          businessHours: []
                          package: PREMIUM
                          planId: 3797
                          planName: Launch
                          temporarilyClosed: false
                          ownerEmail: null
                          ownerName: null
                          googleVerificationStatus:
                            status: NOT_CONNECTED
                            message: null
                          voiceStatus: 3
                          uid: 3c92283c-6145-4a43-8a62-0c15fd712021
                          createdDate: July 06, 2026
                          lastUpdatedDate: July 06, 2026
                          updatedAt: 2026-07-06T18:33:29.664Z
                          placeActionLinks:
                            - placeActionType: FOOD_ORDERING
                              uri: https://order.example.com
                              isPreferred: true
                              name: locations/1944.../placeActionLinks/54ada85bc246058a
                              submissionStatus: success
                              submissionMessage: Already up to date on Google.
                              lastSubmittedAt: 2026-07-08T12:14:36Z
                          discoveredPlaceActionLinks:
                            - placeActionType: APPOINTMENT
                              uri: https://book.example.com
                              isPreferred: false
                              name: locations/1944.../placeActionLinks/abc123
                              providerType: MERCHANT
                              isEditable: true
                    pageInfo:
                      hasNextPage: false
                      hasPreviousPage: false
                      endCursor: TG9jYXRpb246MTgwMDI4OQ==
                      total: 1
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: Returns a cursor-paginated list of locations in your account.
    post:
      operationId: createLocation
      summary: Create a new location.
      tags:
        - Locations
      parameters: []
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateLocationPayload"
              example:
                data:
                  createLocation:
                    clientMutationId: null
                    success: true
                    errors: null
                    location:
                      id: TG9jYXRpb246MTgwMDI5MA==
                      databaseId: 1800290
                      storeId: ACME01
                      name: Acme Dental
                      street: 123 Jump Street
                      city: New York
                      stateIso: NY
                      postalCode: "10013"
                      countryIso: US
                      phone: "6443859313"
                      status: PENDING
                      primaryGbpSiteCategoryId: null
                      placeActionLinks:
                        - placeActionType: APPOINTMENT
                          uri: https://book.acmedental.example.com
                          isPreferred: true
                          name: null
                          submissionStatus: null
                        - placeActionType: ONLINE_APPOINTMENT
                          uri: https://virtual.acmedental.example.com
                          isPreferred: false
                          name: null
                          submissionStatus: null
                      discoveredPlaceActionLinks: []
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  $ref: "#/components/schemas/CreateLocationInput"
              required:
                - input
            example:
              input:
                name: Acme Dental
                description: Acme Dental is a family-owned dental practice in downtown New York
                  offering preventive care, cosmetic dentistry, orthodontics,
                  and emergency appointments. Our board-certified team combines
                  modern equipment with a gentle, patient-first approach, and
                  same-week appointments are available for new patients.
                storeId: ACME01
                street: 123 Jump Street
                city: New York
                stateIso: NY
                postalCode: "10013"
                countryIso: US
                phone: "6443859313"
                subCategoryId: 1432
                businessHours:
                  - day: MONDAY
                    type: OPEN
                    slots:
                      - start: 09:00am
                        end: 05:00pm
                  - day: TUESDAY
                    type: OPEN
                    slots:
                      - start: 09:00am
                        end: 05:00pm
                  - day: WEDNESDAY
                    type: OPEN
                    slots:
                      - start: 09:00am
                        end: 05:00pm
                  - day: THURSDAY
                    type: OPEN
                    slots:
                      - start: 09:00am
                        end: 05:00pm
                  - day: FRIDAY
                    type: OPEN
                    slots:
                      - start: 09:00am
                        end: 05:00pm
                  - day: SATURDAY
                    type: OPEN
                    slots:
                      - start: 10:00am
                        end: 02:00pm
                  - day: SUNDAY
                    type: CLOSED
                    slots: []
                placeActionLinks:
                  - placeActionType: APPOINTMENT
                    uri: https://book.acmedental.example.com
                    isPreferred: true
                  - placeActionType: ONLINE_APPOINTMENT
                    uri: https://virtual.acmedental.example.com
      description: Creates a new business location in your account and queues it for
        listing submission.
  /api/v4/locations/search:
    get:
      operationId: searchLocations
      summary: Search for locations.
      tags:
        - Locations
      parameters:
        - name: query
          in: query
          required: false
          schema:
            type: string
          description: Search keyword matched against location name, street address, city,
            and store ID. Omit to page through every location.
        - name: filter
          in: query
          required: false
          schema:
            type: string
            description: JSON-encoded filter object
          description: JSON-encoded filter object to narrow results (for example by
            approval status).
        - name: first
          in: query
          required: false
          schema:
            type: integer
            format: int32
          description: Number of records to return, counting forward from the start of the
            result set.
        - name: after
          in: query
          required: false
          schema:
            type: string
          description: Cursor to page forward from. Pass `pageInfo.endCursor`, or
            equivalently the `cursor` of the last edge in the previous page.
            Stop paging when `pageInfo.hasNextPage` is false, or when a page
            returns an empty `edges` array.
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                required:
                  - edges
                  - pageInfo
                properties:
                  edges:
                    type: array
                    items:
                      type: object
                      required:
                        - node
                        - cursor
                      properties:
                        node:
                          $ref: "#/components/schemas/LocationSummaryConnectionType"
                        cursor:
                          type: string
                  pageInfo:
                    type: object
                    required:
                      - hasNextPage
                      - hasPreviousPage
                    properties:
                      hasNextPage:
                        type: boolean
                      hasPreviousPage:
                        type: boolean
                      endCursor:
                        type:
                          - string
                          - "null"
                      total:
                        type:
                          - integer
                          - "null"
                  totalCount:
                    type: integer
              example:
                data:
                  searchLocations:
                    edges:
                      - cursor: TG9jYXRpb246MTgwMDI4OQ==
                        node:
                          accountId: 62670
                          accountName: owner@brightsmile-dental.com
                          addOns: []
                          additionalCategoryIds: []
                          additionalCategoryNames: []
                          additionalGbpSiteCategoryIds: []
                          additionalGbpSiteCategoryNames: []
                          additionalInfo: null
                          additionalPhones: []
                          aiAnalyticsEnabled: false
                          approved: APPROVED
                          archivalScheduledAt: null
                          archived: false
                          archivedAt: null
                          bizUrl: null
                          bizUrlUtm: false
                          bookingUrl: null
                          businessHours: []
                          cancellationScheduledAt: null
                          categoryId: 15
                          city: Austin
                          clientName: owner@brightsmile-dental.com
                          contentPreferredLanguage: ENGLISH
                          countryCode: "1"
                          countryIso: US
                          createErrors: []
                          createdDate: July 06, 2026
                          customAttributes: []
                          databaseId: 1800289
                          defaultAgencyTag: ownerbrightsmiledentalcom
                          description: This is a standalone duplex house. A comfortable, private residence
                            located in the Bouldin Creek neighborhood of Austin.
                          discoveredPlaceActionLinks: []
                          enabledSiteIds: []
                          facebookUrl: null
                          franchise: false
                          googleAdsPhone: null
                          googleVerificationStatus:
                            message: null
                            status: NOT_CONNECTED
                          googleplusUrl: null
                          hideAddress: false
                          id: TG9jYXRpb246MTgwMDI4OQ==
                          instagramUrl: null
                          isRestaurant: true
                          lastUpdatedDate: July 06, 2026
                          latitude: "30.2711286"
                          linkedinUrl: null
                          locationPhotos: []
                          longitude: "-97.7436995"
                          managedServiceSiteBuckets: []
                          managedServiceSites: []
                          moreHours: []
                          name: Jenny Home
                          offeringsUrl: null
                          ownerEmail: null
                          ownerName: null
                          package: PREMIUM
                          paymentMethods: []
                          phone: "5125550142"
                          pinterestUrl: null
                          placeActionLinks: []
                          planId: 3797
                          planName: Launch
                          postalCode: "78701"
                          primaryGbpSiteCategoryId: null
                          primaryGbpSiteCategoryName: null
                          publisherAttributes: []
                          reservationUrl: null
                          serviceArea: null
                          serviceItems: []
                          stateIso: TX
                          stateName: Texas
                          storeId: null
                          street: 600 Congress Ave, Suite 200
                          street1: null
                          subCategoryId: 1432
                          subCategoryName: Restaurants
                          tagline: null
                          temporarilyClosed: false
                          tiktokUrl: null
                          toplineMessage: null
                          twitterUrl: null
                          uid: 3c92283c-6145-4a43-8a62-0c15fd712021
                          updatedAt: 2026-07-06T18:33:29.664Z
                          videos: []
                          voiceStatus: 3
                          yearOfIncorporation: null
                          youtubeUrl: null
                    pageInfo:
                      endCursor: TG9jYXRpb246MTgwMDI4OQ==
                      hasNextPage: false
                      hasPreviousPage: false
                      total: 1
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: Returns a cursor-paginated list of locations matching a keyword,
        searchable by name, address, or store ID.
  /api/v4/locations-by-ids:
    get:
      operationId: getLocationsByIds
      summary: Fetch location info via cursor ids.
      tags:
        - Locations
      parameters:
        - name: locationIds
          in: query
          required: true
          schema:
            type: string
            description: JSON-encoded filter object
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/LocationSummaryType"
              example:
                data:
                  getLocationsByIds:
                    - id: TG9jYXRpb246MTgwMDI4OQ==
                      databaseId: 1800289
                      accountId: 62670
                      storeId: null
                      name: Jenny Home
                      archived: false
                      archivedAt: null
                      street: 600 Congress Ave, Suite 200
                      city: Austin
                      stateIso: TX
                      postalCode: "78701"
                      countryIso: US
                      countryCode: "1"
                      latitude: "30.2711286"
                      longitude: "-97.7436995"
                      phone: "5125550142"
                      additionalPhones: []
                      bizUrl: null
                      hideAddress: false
                      categoryId: 15
                      subCategoryId: 1432
                      subCategoryName: Restaurants
                      additionalCategoryIds: []
                      description: This is a standalone duplex house. A comfortable, private residence
                        located in the Bouldin Creek neighborhood of Austin,
                        offering spacious duplex living with easy access to the
                        surrounding South Congress area and downtown Austin.
                      contentPreferredLanguage: ENGLISH
                      businessHours: []
                      moreHours: []
                      package: PREMIUM
                      planId: 3797
                      planName: Launch
                      temporarilyClosed: false
                      ownerName: null
                      ownerEmail: null
                      paymentMethods: []
                      locationPhotos: []
                      isRestaurant: true
                      voiceStatus: 3
                      yearOfIncorporation: null
                      placeActionLinks:
                        - placeActionType: FOOD_ORDERING
                          uri: https://order.example.com
                          isPreferred: true
                          name: locations/1944.../placeActionLinks/54ada85bc246058a
                          submissionStatus: success
                          submissionMessage: Already up to date on Google.
                          lastSubmittedAt: 2026-07-08T12:14:36Z
                      discoveredPlaceActionLinks:
                        - placeActionType: APPOINTMENT
                          uri: https://book.example.com
                          isPreferred: false
                          name: locations/1944.../placeActionLinks/abc123
                          providerType: MERCHANT
                          isEditable: true
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: Returns full location information for a specified set of location
        IDs in one request.
  /api/v4/locations/update:
    post:
      operationId: updateLocation
      summary: Update information on a location.
      tags:
        - Locations
      parameters: []
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateLocationPayload"
              example:
                data:
                  updateLocation:
                    clientMutationId: null
                    success: true
                    errors: null
                    location:
                      id: TG9jYXRpb246MTgwMDI4OQ==
                      databaseId: 1800289
                      name: Jenny Home
                      street: 600 Congress Ave, Suite 200
                      city: Austin
                      stateIso: TX
                      countryIso: US
                      postalCode: "78701"
                      phone: "5125550199"
                      storeId: null
                      status: APPROVED
                      placeActionLinks:
                        - placeActionType: FOOD_ORDERING
                          uri: https://order.example.com
                          isPreferred: true
                          name: null
                          submissionStatus: null
                      discoveredPlaceActionLinks: []
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  $ref: "#/components/schemas/UpdateLocationInput"
              required:
                - input
            example:
              input:
                id: TG9jYXRpb246MTgwMDI4OQ==
                phone: "5125550199"
                businessHours:
                  - day: MONDAY
                    type: OPEN
                    slots:
                      - start: 09:00am
                        end: 05:00pm
                  - day: TUESDAY
                    type: OPEN
                    slots:
                      - start: 09:00am
                        end: 05:00pm
                  - day: WEDNESDAY
                    type: OPEN
                    slots:
                      - start: 09:00am
                        end: 05:00pm
                  - day: THURSDAY
                    type: OPEN
                    slots:
                      - start: 09:00am
                        end: 05:00pm
                  - day: FRIDAY
                    type: OPEN
                    slots:
                      - start: 09:00am
                        end: 05:00pm
                  - day: SATURDAY
                    type: OPEN
                    slots:
                      - start: 10:00am
                        end: 02:00pm
                  - day: SUNDAY
                    type: CLOSED
                    slots: []
      description: Updates writable fields on an existing location. Only the fields
        you send are changed.
  /api/v4/locations/photos:
    post:
      operationId: addLocationPhotos
      summary: Add photos for a location.
      tags:
        - Locations
      parameters: []
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AddLocationPhotosPayload"
              example:
                data:
                  addLocationPhotos:
                    clientMutationId: null
                    photos:
                      - id: TWVkaWFGaWxlOjU4Nzg5MzE=
                        url: https://sy-media-store.s3-us-west-2.amazonaws.com/f868bb3f/59c670a3/f47d62a6.png
                        caption: null
                        starred: false
                      - id: TWVkaWFGaWxlOjU4Nzg5MzI=
                        url: https://sy-media-store.s3-us-west-2.amazonaws.com/f868bb3f/59c670a3/ef4ffb12.jpg
                        caption: null
                        starred: false
                    errors: null
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  $ref: "#/components/schemas/AddLocationPhotosInput"
              required:
                - input
            example:
              input:
                locationId: TG9jYXRpb246MTgwMDI4OQ==
                photos:
                  - photo: https://cdn.example.com/jenny-home/logo.png
                  - photo: https://cdn.example.com/jenny-home/storefront.jpg
      description: Attaches media to a location, either by public image URL or by
        referencing files already in your media library.
  /api/v4/locations/photos/remove:
    post:
      operationId: removeLocationPhotos
      summary: Remove photos from a location.
      tags:
        - Locations
      parameters: []
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RemoveLocationPhotosPayload"
              example:
                data:
                  removeLocationPhotos:
                    clientMutationId: null
                    removedCount: 1
                    errors: null
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  $ref: "#/components/schemas/RemoveLocationPhotosInput"
              required:
                - input
            example:
              input:
                locationId: TG9jYXRpb246MTgwMDI4OQ==
                photoIds:
                  - TWVkaWFGaWxlOjU4Nzg5MzI=
      description: Detaches one or more media files from a location by their media IDs.
  /api/v4/locations/photos/star:
    post:
      operationId: starLocationPhotos
      summary: Mark photos as favourite.
      tags:
        - Locations
      parameters: []
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StarLocationPhotosPayload"
              example:
                data:
                  starLocationPhotos:
                    clientMutationId: null
                    photos:
                      - id: TWVkaWFGaWxlOjU4Nzg5MzI=
                        url: https://sy-media-store.s3-us-west-2.amazonaws.com/f868bb3f/59c670a3/ef4ffb12.jpg
                        caption: null
                        starred: true
                    errors: null
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  $ref: "#/components/schemas/StarLocationPhotosInput"
              required:
                - input
            example:
              input:
                locationId: TG9jYXRpb246MTgwMDI4OQ==
                photoIds:
                  - TWVkaWFGaWxlOjU4Nzg5MzI=
                starred: true
      description: Marks one or more of a location's additional photos as favourites
        for priority placement on supported publishers.
  /api/v4/locations/archive:
    post:
      operationId: archiveLocations
      summary: Archive locations.
      tags:
        - Locations
      parameters: []
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ArchiveLocationsPayload"
              example:
                data:
                  archiveLocations:
                    clientMutationId: null
                    bulkEditTaskId: null
                    errors: null
                    success: null
                    result:
                      - locationId: TG9jYXRpb246MTgwMDI4OQ==
                        status: ARCHIVE_SCHEDULED
                        success: true
                        errors: null
                      - locationId: TG9jYXRpb246MTgwMDI5MA==
                        status: ARCHIVE_SCHEDULED
                        success: true
                        errors: null
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  $ref: "#/components/schemas/ArchiveLocationsInput"
              required:
                - input
            example:
              input:
                locationIds:
                  - TG9jYXRpb246MTgwMDI4OQ==
                  - TG9jYXRpb246MTgwMDI5MA==
      description: Schedules one or more locations for archival at the end of the
        current billing cycle.
  /api/v4/locations/cancel_archive:
    post:
      operationId: cancelLocationsArchive
      summary: Cancel archival of locations.
      tags:
        - Locations
      parameters: []
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CancelLocationsArchivePayload"
              example:
                data:
                  cancelLocationsArchive:
                    clientMutationId: null
                    bulkEditTaskId: null
                    errors: null
                    success: null
                    result:
                      - locationId: TG9jYXRpb246MTgwMDI4OQ==
                        status: ACTIVE
                        success: true
                        errors: null
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  $ref: "#/components/schemas/CancelLocationsArchiveInput"
              required:
                - input
            example:
              input:
                locationIds:
                  - TG9jYXRpb246MTgwMDI4OQ==
      description: Cancels a pending archival for locations in ARCHIVE_SCHEDULED
        status, restoring them to active.
  /api/v4/posts/{postId}:
    get:
      operationId: socialPostView
      summary: Individual social post view page.
      tags:
        - Posts
      parameters:
        - name: postId
          in: path
          required: true
          schema:
            type: string
          description: Base64-encoded social post ID (e.g. from the `id` field of a posts
            list, or the `socialPost.id` returned by POST /posts).
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SocialPostView"
              example:
                data:
                  socialPostView:
                    socialPostId: U29jaWFsUG9zdDo0NDEyMg==
                    socialPostInfo:
                      id: U29jaWFsUG9zdDo0NDEyMg==
                      name: Summer Hours Update
                      status: SUCCESS
                      type: ANNOUNCEMENT
                      createdAt: 2026-06-28
                      scheduledStartDate: 2026-06-28
                      scheduledEndDate: 2026-07-28
                      views: 128
                      clicks: 14
                      shares: 0
                      reactions: 3
                      comments: 1
                      sites:
                        - GOOGLE
                      message:
                        - site: GOOGLE
                          message: We have extended our summer hours! Open until 9pm on weekdays.
                      cta:
                        - type:
                            value: LEARN_MORE
                            label: Learn more
                          url: https://jennyhome.example/hours
                          site: GOOGLE
                          tinyUrl: https://tiny.cc/jh-hours
                      contextInfo: null
                      mediaUrl:
                        - url: https://cdn.listingsapi.com/posts/44122/summer.jpg
                          site: GOOGLE
                          type: IMAGE
                      publishDetails:
                        - site: GOOGLE
                          status: PUBLISHED
                          createdDate: 2026-06-28
                          publishedDate: 2026-06-28
                          submissionError: null
                      postLinks:
                        - site: GOOGLE
                          link: https://www.google.com/maps/place/?post=44122
                      locationIds:
                        - 1800289
                    publishedLocationsCount: 1
                    socialPostAnalyticsBySite:
                      - site: GOOGLE
                        views: 128
                        clicks: 14
                        reactions: 3
                        shares: 0
                        comments: 1
                    socialPostAnalyticsByLocationId:
                      - locationId: 1800289
                        siteStats:
                          - site: GOOGLE
                            status: PUBLISHED
                            views: 128
                            clicks: 14
                            reactions: 3
                            shares: 0
                            comments: 1
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: Returns a single social post campaign with its content, per-site
        publish status, and engagement analytics.
    delete:
      operationId: deleteSocialPost
      summary: Delete a social post.
      tags:
        - Posts
      parameters:
        - name: postId
          in: path
          required: true
          schema:
            type: string
          description: Base64-encoded social post ID to delete (the `id` from a posts list
            or the create response).
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteSocialPostMutation"
              example:
                data:
                  deleteSocialPost:
                    success: true
                    socialPostId: U29jaWFsUG9zdDo0NDEyMg==
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                clientMutationId:
                  type: string
            example:
              clientMutationId: delete-44122-req-1
      description: Permanently deletes a social post campaign and removes it from
        every site it was published to.
  /api/v4/posts:
    post:
      operationId: createSocialPost
      summary: Create social posts for multiple locations.
      tags:
        - Posts
      parameters: []
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SocialPostMutation"
              example:
                data:
                  createSocialPost:
                    clientMutationId: null
                    success: true
                    errors: []
                    socialPost:
                      id: U29jaWFsUG9zdDo0NDEyMg==
                      name: Grand Opening Announcement
                      status: INPROGRESS
                      type: ANNOUNCEMENT
                      createdAt: 2026-06-28
                      sites:
                        - GOOGLE
                      message:
                        - site: GOOGLE
                          message: We are now open! Visit Jenny Home this week for our grand opening.
                      cta:
                        - type:
                            value: LEARN_MORE
                            label: Learn more
                          url: https://jennyhome.example/opening
                          site: GOOGLE
                          tinyUrl: null
                      contextInfo: null
                      mediaUrl:
                        - url: https://cdn.example.com/opening.jpg
                          site: GOOGLE
                          type: IMAGE
                      publishDetails:
                        - site: GOOGLE
                          status: PUBLISHING
                          createdDate: 2026-06-28
                          submissionError: null
                      postLinks: []
                      locationIds:
                        - 1800289
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  $ref: "#/components/schemas/CreateSocialPostMutationInput"
              required:
                - input
            example:
              input:
                postName: Grand Opening Announcement
                locationIds:
                  - TG9jYXRpb246MTgwMDI4OQ==
                postType: ANNOUNCEMENT
                postSites:
                  - GOOGLE
                postMessage:
                  - site: GOOGLE
                    message: We are now open! Visit Jenny Home this week for our grand opening.
                postCta:
                  - site: GOOGLE
                    type: LEARN_MORE
                    url: https://jennyhome.example/opening
                postMediaUrl:
                  - site: GOOGLE
                    url: https://cdn.example.com/opening.jpg
                    type: IMAGE
      description: Creates an ANNOUNCEMENT social post and publishes it to the chosen
        sites for one or more locations.
  /api/v4/locations/{locationId}/reviews:
    get:
      operationId: interactions
      summary: Paginated list of interactions (reviews / Q&A / social) for a single
        location, with filters.
      tags:
        - Reviews
      parameters:
        - name: locationId
          in: path
          required: true
          schema:
            oneOf:
              - type: integer
                description: Raw numeric ID
              - type: string
                description: Base64-encoded Relay ID
            format: base64-or-int
          description: Location ID, a raw numeric database ID (e.g. `1800289`) or its
            Base64-encoded Relay ID (e.g. `TG9jYXRpb246MTgwMDI4OQ==`).
        - name: siteUrls
          in: query
          required: false
          schema:
            type: string
            description: JSON-encoded filter object
          description: JSON-encoded array of publisher hostnames to include, e.g.
            `["maps.google.com","yelp.com"]`.
        - name: startDate
          in: query
          required: false
          schema:
            type: string
          description: Start of the date-range filter (YYYY-MM-DD).
        - name: searchString
          in: query
          required: false
          schema:
            type: string
          description: Full-text search across interaction content.
        - name: endDate
          in: query
          required: false
          schema:
            type: string
          description: End of the date-range filter (YYYY-MM-DD).
        - name: category
          in: query
          required: false
          schema:
            type: string
          description: Single interaction category, e.g. `REVIEW`.
        - name: categories
          in: query
          required: false
          schema:
            type: string
            description: JSON-encoded filter object
          description: JSON-encoded array of interaction categories.
        - name: ratingFilters
          in: query
          required: false
          schema:
            type: string
            description: JSON-encoded filter object
          description: JSON-encoded array of star ratings to include, e.g. `[3,4]`.
        - name: ratingFilter
          in: query
          required: false
          schema:
            type: integer
            format: int32
          description: Single star rating to filter by.
        - name: responseStatus
          in: query
          required: false
          schema:
            type: string
            description: JSON-encoded filter object
          description: "JSON-encoded response-status filter. Values: `RESPONDED`,
            `PENDING`."
        - name: sortOrder
          in: query
          required: false
          schema:
            type: string
            description: JSON-encoded filter object
          description: "JSON-encoded sort order. Values: `NEWEST_FIRST`, `OLDEST_FIRST`,
            `LAST_RESPONDED`."
        - name: first
          in: query
          required: false
          schema:
            type: integer
            format: int32
          description: Number of records to return, counting forward from the start of the
            result set.
        - name: after
          in: query
          required: false
          schema:
            type: string
          description: Cursor to page forward from. Pass `pageInfo.endCursor`, or
            equivalently the `cursor` of the last edge in the previous page.
            Stop paging when `pageInfo.hasNextPage` is false, or when a page
            returns an empty `edges` array.
        - name: last
          in: query
          required: false
          schema:
            type: integer
            format: int32
          description: Number of records to return, counting backward from the end of the
            result set.
        - name: before
          in: query
          required: false
          schema:
            type: string
          description: Cursor to page backward from, used with `last`. Pass the `cursor`
            of the first edge of the page you are moving back from — the
            gateway's shared `PageInfo` type exposes no `startCursor` field.
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                required:
                  - edges
                  - pageInfo
                properties:
                  edges:
                    type: array
                    items:
                      type: object
                      required:
                        - node
                        - cursor
                      properties:
                        node:
                          $ref: "#/components/schemas/InteractionConnection"
                        cursor:
                          type: string
                  pageInfo:
                    type: object
                    required:
                      - hasNextPage
                      - hasPreviousPage
                    properties:
                      hasNextPage:
                        type: boolean
                      hasPreviousPage:
                        type: boolean
                      endCursor:
                        type:
                          - string
                          - "null"
                      total:
                        type:
                          - integer
                          - "null"
                  totalCount:
                    type: integer
              example:
                data:
                  interactions:
                    pageInfo:
                      hasNextPage: true
                      hasPreviousPage: false
                      endCursor: SW50ZXJhY3Rpb246MV8xNTU0MjQzMDczMDM2LTllMjZkMmE4LWE2ZWQtNDJlYS04NDU0LTQ3ZDFjOTJlYTg0MQ==
                    edges:
                      - node:
                          id: 9e26d2a8-a6ed-42ea-8454-47d1c92ea841
                          source: maps.google.com
                          content: nice place for family together
                          authorName: vaibhav nakate
                          rating: 5
                          date: 2019-04-02T22:11:13.036997+00:00
                          category: Review
                          type: Review
                          responded: false
                          responseCount: 0
                          canRespond: true
                          permalink: https://maps.google.com/maps?cid=...
                        cursor: SW50ZXJhY3Rpb246MV8xNTU0MjQzMDczMDM2LTllMjZkMmE4LWE2ZWQtNDJlYS04NDU0LTQ3ZDFjOTJlYTg0MQ==
                    totalCount: 425
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: Returns a cursor-paginated list of reviews and social interactions
        for a single location, with filters.
  /api/v4/rollup_interactions:
    get:
      operationId: rollupInteractions
      summary: Paginated list of interactions across many locations (rollup scope).
      tags:
        - Reviews
      parameters:
        - name: locationFilters
          in: query
          required: false
          schema:
            type: string
            description: JSON-encoded filter object
          description: JSON-encoded array of location IDs to restrict the rollup to.
        - name: siteUrls
          in: query
          required: false
          schema:
            type: string
            description: JSON-encoded filter object
          description: JSON-encoded array of publisher hostnames to include.
        - name: startDate
          in: query
          required: false
          schema:
            type: string
          description: Start of the date-range filter (YYYY-MM-DD).
        - name: endDate
          in: query
          required: false
          schema:
            type: string
          description: End of the date-range filter (YYYY-MM-DD).
        - name: searchString
          in: query
          required: false
          schema:
            type: string
          description: Full-text search across interaction content.
        - name: category
          in: query
          required: false
          schema:
            type: string
          description: Single interaction category, e.g. `REVIEW`.
        - name: categories
          in: query
          required: false
          schema:
            type: string
            description: JSON-encoded filter object
          description: JSON-encoded array of interaction categories.
        - name: ratingFilters
          in: query
          required: false
          schema:
            type: string
            description: JSON-encoded filter object
          description: JSON-encoded array of star ratings to include, e.g. `[3,4]`.
        - name: ratingFilter
          in: query
          required: false
          schema:
            type: integer
            format: int32
          description: Single star rating to filter by.
        - name: responseStatus
          in: query
          required: false
          schema:
            type: string
            description: JSON-encoded filter object
          description: "JSON-encoded response-status filter. Values: `RESPONDED`,
            `PENDING`."
        - name: sortOrder
          in: query
          required: false
          schema:
            type: string
            description: JSON-encoded filter object
          description: "JSON-encoded sort order. Values: `NEWEST_FIRST`, `OLDEST_FIRST`,
            `LAST_RESPONDED`."
        - name: first
          in: query
          required: false
          schema:
            type: integer
            format: int32
          description: Number of records to return, counting forward from the start of the
            result set.
        - name: after
          in: query
          required: false
          schema:
            type: string
          description: Cursor to page forward from. Pass `pageInfo.endCursor`, or
            equivalently the `cursor` of the last edge in the previous page.
            Stop paging when `pageInfo.hasNextPage` is false, or when a page
            returns an empty `edges` array.
        - name: last
          in: query
          required: false
          schema:
            type: integer
            format: int32
          description: Number of records to return, counting backward from the end of the
            result set.
        - name: before
          in: query
          required: false
          schema:
            type: string
          description: Cursor to page backward from, used with `last`. Pass the `cursor`
            of the first edge of the page you are moving back from — the
            gateway's shared `PageInfo` type exposes no `startCursor` field.
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                required:
                  - edges
                  - pageInfo
                properties:
                  edges:
                    type: array
                    items:
                      type: object
                      required:
                        - node
                        - cursor
                      properties:
                        node:
                          $ref: "#/components/schemas/InteractionConnection"
                        cursor:
                          type: string
                  pageInfo:
                    type: object
                    required:
                      - hasNextPage
                      - hasPreviousPage
                    properties:
                      hasNextPage:
                        type: boolean
                      hasPreviousPage:
                        type: boolean
                      endCursor:
                        type:
                          - string
                          - "null"
                      total:
                        type:
                          - integer
                          - "null"
                  totalCount:
                    type: integer
              example:
                data:
                  rollupInteractions:
                    pageInfo:
                      hasNextPage: true
                      hasPreviousPage: false
                    edges:
                      - node:
                          id: 9e26d2a8-a6ed-42ea-8454-47d1c92ea841
                          source: maps.google.com
                          content: Excellent service, highly recommend.
                          authorName: Priya S.
                          rating: 5
                          date: 2026-06-30T12:04:11+00:00
                          category: Review
                          type: Review
                          responded: false
                          responseCount: 0
                          canRespond: true
                          locationId: 1800289
                        cursor: SW50ZXJhY3Rpb246OWUyNmQyYTg=
                    totalCount: 1284
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: Returns a cursor-paginated list of interactions across many
        locations in the account, with filtering and sorting.
  /api/v4/reviewDetails:
    get:
      operationId: interactionDetails
      summary: Fetch full interaction records by ID.
      tags:
        - Reviews
      parameters:
        - name: interactionIds
          in: query
          required: false
          schema:
            type: string
            description: JSON-encoded filter object
          description: JSON-encoded array of interaction IDs to fetch, e.g.
            `["b2fa765e-c62b-4e0b-b1d6-1c67c855f5e0"]`. Passed as a URL-encoded
            JSON string.
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InteractionsDetail"
              example:
                data:
                  interactionDetails:
                    interactions:
                      - id: b2fa765e-c62b-4e0b-b1d6-1c67c855f5e0
                        source: maps.google.com
                        content: Great place for dessert!
                        authorName: Jordan M.
                        category: Review
                        type: Review
                        rating: 5
                        date: 2026-05-12T09:22:41+00:00
                        responded: true
                        responseCount: 1
                        canRespond: true
                        responses:
                          - id: 2090753a-ece6-4837-8336-8494ad308523
                            content: Thank you so much for the kind words!
                            authorName: Jenny Home
                            date: 2026-05-13T14:02:00+00:00
                            interactionStatus: CONFIRMED
                            editedResponse: false
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: Returns full interaction objects for a specific set of interaction IDs.
  /api/v4/locations/{locationId}/reviews/settings:
    get:
      operationId: interactionsSetting
      summary: Per-location interactions settings (connected sites, thresholds).
      tags:
        - Reviews
      parameters:
        - name: locationId
          in: path
          required: true
          schema:
            oneOf:
              - type: integer
                description: Raw numeric ID
              - type: string
                description: Base64-encoded Relay ID
            format: base64-or-int
          description: Location to read. Accepts a base64-encoded Relay ID (e.g.
            `TG9jYXRpb246MTgwMDI4OQ==`) or a raw numeric location ID.
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InteractionsSetting"
              example:
                data:
                  interactionsSetting:
                    siteSettings:
                      - name: maps.google.com
                        url: null
                      - name: facebook.com
                        url: null
                      - name: yelp.com
                        url: null
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: Returns the review sources configured for a single location, with
        their connection URLs.
  /api/v4/locations/{locationId}/review-analytics-overview:
    get:
      operationId: interactionsAnalyticsStats
      summary: Analytics KPIs for a single location over a date range.
      tags:
        - Reviews
      parameters:
        - name: locationId
          in: path
          required: true
          schema:
            oneOf:
              - type: integer
                description: Raw numeric ID
              - type: string
                description: Base64-encoded Relay ID
            format: base64-or-int
          description: Location ID, a raw numeric database ID (e.g. `1800289`) or its
            Base64-encoded Relay ID (e.g. `TG9jYXRpb246MTgwMDI4OQ==`).
        - name: startDate
          in: query
          required: false
          schema:
            type: string
            format: date
          description: Start of the analytics period (YYYY-MM-DD). Required for the
            `review-analytics-timeline` route.
        - name: endDate
          in: query
          required: false
          schema:
            type: string
            format: date
          description: End of the analytics period (YYYY-MM-DD). Required for the
            `review-analytics-timeline` route.
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InteractionsAnalyticsStats"
              example:
                data:
                  interactionsAnalyticsStats:
                    stats:
                      - name: total-reviews
                        value: 9705423
                        delta: 100
                      - name: new-reviews
                        value: 9705423
                        delta: 100
                      - name: overall-rating
                        value: 4.432533457738633
                        delta: 100
                      - name: review-response-rate
                        value: 47.39994331004429
                        delta: 100
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: Returns overview review analytics (KPIs) for a location. Two
        sibling routes return a time-series timeline and a per-site breakdown.
  /api/v4/reviews/site-config:
    get:
      operationId: interactionSiteConfig
      summary: Per-site metadata (colors, icons, plan support).
      tags:
        - Reviews
      parameters: []
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/InteractionSiteConfig"
              example:
                data:
                  interactionSiteConfig:
                    - site: Google
                      siteUrl: maps.google.com
                    - site: Facebook
                      siteUrl: facebook.com
                    - site: Yelp
                      siteUrl: yelp.com
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: Returns the review platforms available to the account. Google Maps
        and Facebook are available on every plan, Yelp on Growth and Enterprise.
  /api/v4/locations/reviews/respond:
    post:
      operationId: respondToInteraction
      summary: Post a response to a review / Q&A / social interaction on the source
        site.
      tags:
        - Reviews
      parameters: []
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RespondToInteractionPayload"
              example:
                data:
                  respondToInteraction:
                    interaction:
                      id: 2090753a-ece6-4837-8336-8494ad308523
                      interactionId: 9e26d2a8-a6ed-42ea-8454-47d1c92ea841
                      content: "Thank you for visiting Jenny Home: we're glad you enjoyed your
                        experience!"
                      interactionStatus: CREATED
                      editedResponse: false
                    errors: null
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                responseContent:
                  type: string
                interactionId:
                  oneOf:
                    - type: integer
                      description: Raw numeric ID
                    - type: string
                      description: Base64-encoded Relay ID
                  format: base64-or-int
                respondedWith:
                  type: string
              required:
                - responseContent
                - interactionId
            example:
              interactionId: 9e26d2a8-a6ed-42ea-8454-47d1c92ea841
              responseContent: "Thank you for visiting Jenny Home: we're glad you enjoyed your
                experience!"
      description: >-
        Posts a public response to a review or interaction on its source
        platform.


        **Common errors**

        - SY50121: Google Reviews accept only a single owner reply per review; a
        second response is rejected.
  /api/v4/locations/{locationId}/facebook-analytics:
    get:
      operationId: facebookInsights
      summary: Facebook v4 metrics for a single location over a date range.
      tags:
        - Analytics
      parameters:
        - name: locationId
          in: path
          required: true
          schema:
            oneOf:
              - type: integer
                description: Raw numeric ID
              - type: string
                description: Base64-encoded Relay ID
            format: base64-or-int
          description: Base64-encoded location ID (Relay id, e.g.
            TG9jYXRpb246MTgwMDI4OQ==). The raw numeric id is not accepted here.
        - name: fromDate
          in: query
          required: false
          schema:
            type: string
          description: Start of the range (YYYY-MM-DD). Defaults to a recent window when
            omitted.
        - name: toDate
          in: query
          required: false
          schema:
            type: string
          description: End of the range (YYYY-MM-DD).
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FacebookMetricV4"
              example:
                data:
                  facebookInsights:
                    views:
                      - startTime: 2025-06-01T00:00:00+00:00
                        value: 120
                    ctaAction:
                      - startTime: 2025-06-01T00:00:00+00:00
                        value: 5
                    directionsAction:
                      - startTime: 2025-06-01T00:00:00+00:00
                        value: 3
                    phoneAction:
                      - startTime: 2025-06-01T00:00:00+00:00
                        value: 2
                    websiteAction:
                      - startTime: 2025-06-01T00:00:00+00:00
                        value: 9
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: Returns daily Facebook Page interaction metrics for a location over
        a date range.
  /api/v4/locations/{locationId}/google-analytics:
    get:
      operationId: googleInsights
      summary: Google My Business v4 metrics for a single location over a date range.
      tags:
        - Analytics
      parameters:
        - name: locationId
          in: path
          required: true
          schema:
            oneOf:
              - type: integer
                description: Raw numeric ID
              - type: string
                description: Base64-encoded Relay ID
            format: base64-or-int
          description: Base64-encoded location ID (Relay id, e.g.
            TG9jYXRpb246MTgwMDI4OQ==). The raw numeric id is not accepted here.
        - name: fromDate
          in: query
          required: false
          schema:
            type: string
          description: Start of the range (YYYY-MM-DD). Defaults to a recent window when
            omitted.
        - name: toDate
          in: query
          required: false
          schema:
            type: string
          description: End of the range (YYYY-MM-DD).
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleMetricV4"
              example:
                data:
                  googleInsights:
                    total:
                      - startTime: 2025-06-01T00:00:00+00:00
                        value: 412
                      - startTime: 2025-06-02T00:00:00+00:00
                        value: 388
                    search:
                      - startTime: 2025-06-01T00:00:00+00:00
                        value: 300
                    maps:
                      - startTime: 2025-06-01T00:00:00+00:00
                        value: 112
                    directionsAction:
                      - startTime: 2025-06-01T00:00:00+00:00
                        value: 24
                    phoneAction:
                      - startTime: 2025-06-01T00:00:00+00:00
                        value: 8
                    websiteAction:
                      - startTime: 2025-06-01T00:00:00+00:00
                        value: 41
                    businessBookings:
                      - startTime: 2025-06-01T00:00:00+00:00
                        value: 0
                    businessFoodOrders:
                      - startTime: 2025-06-01T00:00:00+00:00
                        value: 0
                    businessFoodMenuClicks:
                      - startTime: 2025-06-01T00:00:00+00:00
                        value: 0
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: Returns daily Google Business Profile interaction metrics for a
        location over a date range.
  /api/v4/locations/{locationId}/bing-analytics:
    get:
      operationId: bingInsights
      summary: Bing Places v4 metrics for a single location over a date range.
      tags:
        - Analytics
      parameters:
        - name: locationId
          in: path
          required: true
          schema:
            oneOf:
              - type: integer
                description: Raw numeric ID
              - type: string
                description: Base64-encoded Relay ID
            format: base64-or-int
          description: Base64-encoded location ID (Relay id, e.g.
            TG9jYXRpb246MTgwMDI4OQ==). The raw numeric id is not accepted here.
        - name: fromDate
          in: query
          required: false
          schema:
            type: string
          description: Start of the range (YYYY-MM-DD). Defaults to a recent window when
            omitted.
        - name: toDate
          in: query
          required: false
          schema:
            type: string
          description: End of the range (YYYY-MM-DD).
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BingMetricV4"
              example:
                data:
                  bingInsights:
                    views:
                      - startTime: 2025-06-02T00:00:00+00:00
                        value: 73
                      - startTime: 2025-06-09T00:00:00+00:00
                        value: 58
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: Returns weekly Bing Places profile view metrics for a location over
        a date range.
  /api/v4/connected-accounts:
    get:
      operationId: connectedAccountsInfo
      summary: connectedAccountsInfo
      tags:
        - Connected Accounts
      parameters:
        - name: accountId
          in: query
          required: false
          schema:
            type: string
          description: Listings API account ID to scope results to. Defaults to the
            account that owns the API key.
        - name: filters
          in: query
          required: false
          schema:
            type: string
            description: JSON-encoded filter object
          description: JSON-encoded object used to narrow the result set (for example by
            connection status or account type).
        - name: sort
          in: query
          required: false
          schema:
            type: string
            description: JSON-encoded filter object
          description: JSON-encoded object describing the sort order to apply to the
            records.
        - name: pageInfo
          in: query
          required: false
          schema:
            type: string
            description: JSON-encoded filter object
          description: JSON-encoded pagination object, e.g. `{"page":1,"perPage":20}`.
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConnectedAccountsPaginated"
              example:
                data:
                  connectedAccountsInfo:
                    pageInfo:
                      hasNextPage: false
                      hasPreviousPage: false
                      totalPages: 1
                      totalRecords: 1
                    records:
                      - accountId: "62670"
                        clientName: owner@brightsmile-dental.com
                        connectedAccountId: 4f712c17-4f95-42dd-90f4-97171a2e67b5
                        connectedAccountType: GoogleAccount
                        connectedLocationsCount: 0
                        connectivityIssue: null
                        email: owner@brightsmile-dental.com
                        lastFetchMatchesRequestedAt: 2026-07-06 21:43:07 UTC
                        remarks: null
                        requestMatches: false
                        requestMatchesStatus: MATCH_COMPLETED
                        status: CONNECTED
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: Returns the Google and Facebook accounts connected to your Listings
        API account, with connection health and linked-location counts.
  /api/v4/connected-accounts/{connectedAccountId}/details:
    get:
      operationId: connectedAccountDetails
      summary: connectedAccountDetails
      tags:
        - Connected Accounts
      parameters:
        - name: connectedAccountId
          in: path
          required: true
          schema:
            type: string
          description: UUID of the connected account (from the list connected accounts
            endpoint).
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConnectedAccountDetails"
              example:
                data:
                  connectedAccountDetails:
                    details:
                      accountId: "62670"
                      clientName: owner@brightsmile-dental.com
                      connectedAccountId: 4f712c17-4f95-42dd-90f4-97171a2e67b5
                      connectedAccountType: GoogleAccount
                      connectedLocationsCount: 0
                      connectivityIssue: null
                      email: owner@brightsmile-dental.com
                      lastFetchMatchesRequestedAt: 2026-07-06 21:43:07 UTC
                      remarks: null
                      requestMatches: false
                      requestMatchesStatus: MATCH_COMPLETED
                      status: CONNECTED
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: Returns the details of a single connected Google or Facebook
        account by its ID.
  /api/v4/connected-accounts/connected-account-listings:
    post:
      operationId: connectedAccountListings
      summary: Listings belonging to a connected account.
      tags:
        - Connected Accounts
      parameters:
        - name: connectedAccountId
          in: query
          required: true
          schema:
            type: string
        - name: filters
          in: query
          required: false
          schema:
            type: string
            description: JSON-encoded filter object
        - name: pageInfo
          in: query
          required: false
          schema:
            type: string
            description: JSON-encoded filter object
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConnectedAccountListingsPaginated"
              example:
                data:
                  connectedAccountListings:
                    pageInfo:
                      hasNextPage: false
                      hasPreviousPage: false
                      totalPages: 1
                      totalRecords: 60
                    records:
                      - accountTypeName: Google
                        address: 123 William St, NY 10038, Manhattan, US
                        id: R21iQnVsa0RhdGFMYWtlOjA2MDQ4NmExLTA0NzQtNDc4NS1iMjNhLTBkOGM4MzhmNGQ5OA==
                        liveLink: null
                        locationName: Trial
                        phone: (718) 667-7787
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: Returns the Google Business Profile or Facebook listings accessible
        to a connected account, with optional filtering and pagination.
  /api/v4/connected-accounts/{connectedAccountId}/connection-suggestions:
    get:
      operationId: connectionSuggestionsForAccount
      summary: connectionSuggestionsForAccount
      tags:
        - Connected Accounts
      parameters:
        - name: connectedAccountId
          in: path
          required: true
          schema:
            type: string
          description: UUID of the connected account to list suggestions for.
        - name: accountId
          in: query
          required: false
          schema:
            type: string
          description: Listings API account ID to scope suggestions to. Defaults to the
            account the API key belongs to.
        - name: filters
          in: query
          required: false
          schema:
            type: string
            description: JSON-encoded filter object
          description: JSON-encoded filter object to narrow the suggestions.
        - name: sortBy
          in: query
          required: false
          schema:
            type: string
            description: JSON-encoded filter object
          description: JSON-encoded sort object.
        - name: pageInfo
          in: query
          required: false
          schema:
            type: string
            description: JSON-encoded filter object
          description: JSON-encoded pagination object (page / perPage).
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConnectionSuggestionsForAccount"
              example:
                data:
                  connectionSuggestionsForAccount:
                    pageInfo:
                      hasNextPage: false
                      hasPreviousPage: false
                      totalPages: 1
                      totalRecords: 2
                    records:
                      - accountEmail: contact@brightsmile-dental.com
                        accountType: GMB
                        connectedAccountId: 4f712c17-4f95-42dd-90f4-97171a2e67b5
                        locationId: "73415"
                        matchedDataDatabaseId: 0d5e306f-0da0-46e3-929f-fd3c67ccd8cc
                        locationInfo:
                          name: My Business
                          city: Lincoln
                          stateIso: NE
                        suggestedLocationInfo:
                          locationInfo:
                            name: My Business
                            city: Lincoln
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      description: Returns suggested matches between Listings API locations and Google
        Business Profile or Facebook listings for a connected account.
  /api/v4/plan-sites:
    get:
      operationId: planSites
      summary: planSites
      tags:
        - Supporting APIs
      parameters: []
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PlanSite"
              example:
                data:
                  planSites:
                    - hideAddressSupportedCountries:
[...]
